<div class="container">
  <% if @code.errors.any? %>
    <h2><%= pluralize(@code.errors.count, "error") %> prevent this code
        from saving</h2>
    <ul>
      <% @code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @code do |f| %>
  <div class="form-group">
    <%= f.label :kind %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label :work %><br>
    <%= f.text_area :work, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "form-control" %>
  </div>
  <% end %>
</div>
