<div class="container"><br><br>
  <div class="well">
    <div class="row">
     <div class="col-md-4">
        <h1><%= @code.category.name %></h1><hr>
        <h3><%= @code.title %></h3><hr>
        <p>Submitted <%= time_ago_in_words(@code.created_at) %> Ago</p>
      </div>
      <div class="col-md-8">
        <blockquote class="blockquote">
          <h3><%= @code.work %></h3>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <%= link_to "Edit", edit_code_path(@code), class: "btn btn-default" %>
    <%= link_to "Delete", code_path(@code), method: :delete,
                                                    data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
    <%= link_to "Home", root_path, class: "btn btn-default" %>
  </div>
</div>
